requests~=2.31.0
fire~=0.5.0
python-dotenv~=1.0.0
langchain~=0.1.5
pydantic~=2.5.3
sqlalchemy==1.4.51
httpx~=0.25.1
orjson~=3.9.15
aiohttp
zhipuai
neo4j
chromadb
aiomysql
sse_starlette
dashscope~=1.14.1
fastapi
setuptools~=68.0.0
graphsignal~=0.13.48
databases~=0.8.0
colorama~=0.4.6

uvicorn